@use "../../styles/_variables" as *;

.dropdown {
  position: relative;
  max-width: 1023px;
  width: 100%;
  &__button {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    background-color: $primary-color;
    color: $white;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    &--housing {
      font-size: 1.125rem;
    }
    @media (max-width: 800px) {
      font-size: 0.813rem;
    }
  }
  &__panel {
    position: relative;
    z-index: 1;
    background-color: $secondary-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -5px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.7s;
  }
  &__content {
    padding: 20px 0px;
    font-size: 1.125rem;
    color: $black;
    transform: translateY(-100px);
    transition: transform 0.7s;
    @media (max-width: 800px) {
      font-size: 0.75rem;
    }
  }
  &__icon {
    transform: rotate(0deg);
    transition: transform 0.7s;
  }
  &--opened {
    .dropdown__panel {
      max-height: 250px;
      opacity: 1;
    }
    .dropdown__content {
      transform: translateY(0);
    }
    .dropdown__icon {
      transform: rotate(-180deg);
    }
  }
}
