$primary-color: #ff6060;
$black: black;
$white: white;

@mixin texte {
  font-size: 1.5rem;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  &__nav {
    display: flex;
    gap: 60px;
    @include texte;
    color: $black;
  }
  a {
    text-decoration: none;
    color: $black;
  }
}

.footer {
  padding: 70px 0 30px 0;
  background-color: $black;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  @include texte;
  &__logo {
    width: 122px;
  }
}
