$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$black: black;
$white: white;

@mixin texte {
  font-size: 1.5rem;
  font-weight: 500;
  @media (max-width: 800px) {
    font-size: 0.8rem;
  }
}

@mixin h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  &__nav {
    display: flex;
    gap: 60px;
    @include texte;
    color: $black;
  }
  a {
    text-decoration: none;
    color: $black;
  }
  &__logo {
    width: 210px;
  }
  @media (max-width: 800px) {
    padding: 10px;
    &__logo {
      width: 150px;
    }
    &__nav {
      gap: 20px;
    }
  }
}

.footer {
  padding: 70px 0 30px 0;
  background-color: $black;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  @include texte;
  &__logo {
    width: 122px;
  }
}

.banner {
  padding: 0 100px;
  width: calc(100% - 200px);
  height: 223px;
  @media (max-width: 800px) {
    height: 111px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: calc(100% - 40px);
  }
  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &__image::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  h1 {
    position: absolute;
    inset: 0;
    color: $white;
    font-size: 3rem;
    font-weight: 500;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: 800px) {
      font-size: 1.5rem;
      text-align: left;
      justify-content: flex-start;
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
  margin: 40px 100px;
  background-color: $secondary-color;
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
    margin: 0 20px 20px 20px;
    padding: 0;
    background-color: $white;
  }
}

.card {
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 340px;
  position: relative;
  @media (max-width: 800px) {
    height: 200px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  h2 {
    position: absolute;
    inset: 0;
    color: $white;
    @include h2;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 20px;
    text-align: left;
    @media (max-width: 800px) {
      bottom: 10px;
      left: 10px;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.about .dropdown {
  margin: 30px 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
  max-width: 1023px;
  width: 100%;
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    background-color: $primary-color;
    font-size: 1.5rem;
    font-weight: 700;
    color: $white;
    border: none;
    border-radius: 10px;
    @media (max-width: 800px) {
      font-size: 0.813rem;
    }
  }
  &__content {
    max-width: 1023px;
    width: calc(100% - 40px);
    border-radius: 10px;
    padding: 20px 0px;
    font-size: 1.1rem;
    color: $black;
    @media (max-width: 800px) {
      font-size: 0.813rem;
    }
  }
}
