@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 100px;
  margin: 100px 0;
  &__number {
    font-weight: 700;
    font-size: 288px;
    color: $primary-color;
    @media (max-width: 800px) {
      font-size: 96px;
    }
  }
  &__txt {
    font-weight: 500;
    font-size: 36px;
    color: $primary-color;
    @media (max-width: 800px) {
      font-size: 18px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    color: $black;
    @media (max-width: 800px) {
      font-size: 14px;
    }
  }
}
