@use "../../styles/_variables" as *;

.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 100px;
  margin: 100px 0;
  &__number {
    font-weight: 700;
    font-size: 18rem;
    color: $primary-color;
    @media (max-width: 800px) {
      font-size: 6rem;
    }
  }
  &__txt {
    font-weight: 500;
    font-size: 2.25rem;
    color: $primary-color;
    @media (max-width: 800px) {
      font-size: 1.125rem;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 1.125rem;
    color: $black;
    @media (max-width: 800px) {
      font-size: 0.875rem;
    }
  }
}
