@use "../../styles/_variables" as *;

.housing-header {
  margin: 50px 100px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 800px) {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }
}

.info {
  &__title {
    font-weight: 500;
    font-size: 2.25rem;
    color: $primary-color;
    @media (max-width: 800px) {
      font-size: 1.125rem;
    }
  }
  &__location {
    font-weight: 500;
    font-size: 1.125rem;
    color: $black;
    margin-top: 10px;
    @media (max-width: 800px) {
      font-size: 0.875rem;
    }
  }
  &__tags {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    &__tag {
      background-color: $primary-color;
      color: $white;
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 0.875rem;
      width: 115px;
      text-align: center;
      @media (max-width: 800px) {
        font-size: 0.625rem;
      }
    }
  }
}

.host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  &__name {
    text-align: right;
    font-weight: 500;
    font-size: 1.125rem;
    color: $primary-color;
    max-width: 100px;
    @media (max-width: 800px) {
      font-size: 0.75rem;
    }
  }
  &__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    @media (max-width: 800px) {
      width: 32px;
      height: 32px;
    }
  }
}

.host-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  @media (max-width: 800px) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &__star {
    width: 32px;
    height: 32px;
    @media (max-width: 800px) {
      width: 16px;
      height: 16px;
    }
  }
}

.housing-dropdowns {
  display: flex;
  gap: 76px;
  justify-content: center;
  margin: 0 100px 50px 100px;
  @media (max-width: 800px) {
    flex-direction: column;
    gap: 20px;
    margin: 0 20px 30px 20px;
  }
}
