@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
  margin: 40px 100px;
  background-color: $secondary-color;
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
    margin: 0 20px 20px 20px;
    padding: 0;
    background-color: $white;
  }
}
