@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.footer {
  padding: 70px 0 30px 0;
  background-color: $black;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  @include texte;
  &__logo {
    width: 122px;
  }
  &__legal {
    @media (max-width: 800px) {
      display: block;
    }
  }
}
