@use "../../styles/_variables" as *;

.footer {
  padding: 70px 0 30px 0;
  background-color: $black;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  @media (max-width: 800px) {
    font-size: 0.75rem;
  }
  &__logo {
    width: 122px;
  }
  &__legal {
    @media (max-width: 800px) {
      display: block;
    }
  }
}
