@use "../../styles/_variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  &__nav {
    display: flex;
    gap: 60px;
    font-size: 1.5rem;
    font-weight: 500;
    color: $black;
    @media (max-width: 800px) {
      font-size: 0.75rem;
    }
  }
  &__navLink {
    text-decoration: none;
    color: $black;
    &--underline {
      text-decoration: underline;
    }
  }
  &__logo {
    width: 210px;
  }
  @media (max-width: 800px) {
    padding: 10px;
    &__logo {
      width: 150px;
    }
    &__nav {
      gap: 20px;
    }
  }
}
