@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  &__nav {
    display: flex;
    gap: 60px;
    @include texte;
    color: $black;
  }
  a {
    text-decoration: none;
    color: $black;
  }
  &__logo {
    width: 210px;
  }
  @media (max-width: 800px) {
    padding: 10px;
    &__logo {
      width: 150px;
    }
    &__nav {
      gap: 20px;
    }
  }
}
