@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
  margin: 40px 100px;
  background-color: $secondary-color;
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
    margin: 0 20px 20px 20px;
    padding: 0;
    background-color: white;
  }
}

.card {
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 340px;
  position: relative;
  @media (max-width: 800px) {
    height: 200px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  h2 {
    position: absolute;
    inset: 0;
    color: white;
    @include h2;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 20px;
    text-align: left;
    @media (max-width: 800px) {
      bottom: 10px;
      left: 10px;
    }
  }
}
