@use "../../styles/_variables" as *;

.card {
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 340px;
  position: relative;
  @media (max-width: 800px) {
    height: 200px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &__title {
    position: absolute;
    inset: 0;
    color: $white;
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 20px;
    text-align: left;
    @media (max-width: 800px) {
      bottom: 10px;
      left: 10px;
    }
  }
}
