@use "../../styles/_variables" as *;

.slideshow {
  margin: 0 100px;
  height: 415px;
  position: relative;
  overflow: hidden;
  @media (max-width: 800px) {
    margin: 0 20px;
    height: 255px;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
  }
  &__leftarrow {
    position: absolute;
    top: calc(50% - 40px);
    left: 25px;
    z-index: 2;
    @media (max-width: 800px) {
      height: 20px;
      top: calc(50% - 10px);
      left: 5px;
    }
  }
  &__rightarrow {
    position: absolute;
    top: calc(50% - 40px);
    right: 25px;
    z-index: 2;
    @media (max-width: 800px) {
      height: 20px;
      top: calc(50% - 10px);
      right: 5px;
    }
  }
  &__counter {
    position: absolute;
    bottom: 30px;
    right: 50%;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
    @media (max-width: 800px) {
      display: none;
    }
  }
}
