.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 200px);
  margin-bottom: 30px;
  gap: 30px;
  margin: 30px 100px;
  @media (max-width: 800px) {
    width: calc(100% - 40px);
    margin: 20px;
    gap: 20px;
  }
}
